.noSpace {
	margin-bottom: 0px;
}

.float-right {
	float: right;
	margin: 0 10px 10px 0;
}

.image-box {
	background-color: none;
	height: 50px;
	width: 50px;
	margin-left: 5px;
	margin-top: 10px;
}

.foot-box {
	background-color: none;
	height: 70px;
	width: 200px;
	position: relative;
	left: 1000px;
	top: 0px;
}

.noSpace-top {
	padding-top: 0px;
}

/*==================COLORS=================*/

.gray {
	background-color: #D3D3D3;
}