<div class="row marketing noSpace-top white margin-left last-radius">

    <div class="title-bar moreSpace">
      <div class="container-fluid noSpace-top">
        <div class="middle-box">
          <p class="bank" style="font-size: 19px; color: white;">FIRST</p>
        </div>
      </div>

<div class="pro-left noSpace-top" style="float: left;">
		<div class="imageBox" style="margin-left: 500px;">
			<img src="images/layout/frc.png" width="200px" height="200px">
		</div>	
	<div class="frc-class">	
		<p>
			
For Inspiration and Recognition of Science and Technology (FIRST), is an international organization dedicated to inspiring a love for science, technology, engineering, and math (STEM) in children and teens. FIRST engages young people aged from six to ten, in programs that not only build their knowledge and understanding of STEM, but also encourages the development of strong leadership and professional skills.
		</p>
	</div>
<!-- 	<h2>
			Features
		</h2> --><!-- 
		<ul class="">
			<li>yyyyaaaaay</li>
			 <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
   			<li>Aliquam tincidunt mauris eu risus.</li>
   			<li>Vestibulum auctor dapibus neque.</li>
		</ul> -->
</div>
</div>
