<p class="moreSpace">
	<!-- to get this to work replace watch?v= with embed/ -->
	<iframe width="785" height="400" src="https://www.youtube.com/embed/O0EkhUnDuG0?rel=0" frameborder="0" allowfullscreen>
</iframe>
</p>
<h2>The Robodevils</h2>
<hr>
<p>"FRC Team 1018, the Pike RoboDevils Robotics was founded in 2002 at Pike High School, a large urban school in the northwest corner of Indianapolis. The team consists students from grades 9-12,  who come together to pursue their interests in science, technology, engineering and math (STEM).


The Pike RoboDevils are only a small part of a larger organization called F.I.R.S.T. Robotics (For Inspiration and Recognition of Science and Technology). The mission of FIRST is to inspire young people to be leaders in science and technology by engaging them in mentor-based programs that not only encourage interests in STEM careers, but also allow them to build their self-esteem, life skills, and community awareness.  


Each year, the team participates in one of several FIRST Programs, the FIRST Robotics Competition ( FRC). In a six-week time frame, the members of the team fund, design, build, and program robots that perform a unique task under the strict guidelines issued by the FIRST organization. The team then goes on to compete against other teams in events at the district, state, and even global level. 



</p>