<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/pike.css">
    <!-- endbuild -->
  </head>
  <body ng-app="yoApp">
  <div class="body">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <!-- <div class="header">
      <div class="navbar navbar-default nav-color-pike" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">
             <img alt="Brand" src="under.jpg" width="30px" height="30px">
            </a>

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="#!/">yo</a>
          </div>

          <div class="collapse navbar-collapse" id="js-navbar-collapse">

            <ul class="nav navbar-nav">
              <li ng-class="{'active-pike':selectedTab === 'home'}" ng-click="selectedTab = 'home'"><a href="#!/">Home</a></li>
              <li ng-class="{'active-pike':selectedTab === 'movies'}" ng-click="selectedTab = 'movies'"><a ng-href="#!/movies">Students</a></li>
              <li ng-class="{'active-pike':selectedTab === 'peoples'}" ng-click="selectedTab = 'peoples'"><a ng-href="#!/peopleT">Peoples</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div> -->
    <div class="noSpace moreSpace pike-container">
      <div class="container-fluid">
        <img src="logo.png" width="850" height="200">
      </div>
    </div>
    <div class="pike-container">
    <div class="container-fluid">
      <nav class="navbar navbar-default noSpace navbar-radius" style="background-color: #FDFDFD; width: 900px;">
          <div class="container-fluid">
          <a class="navbar-brand" href="#">
             <img alt="Brand" src="under.jpg" width="30px" height="30px">
            </a>

            <div class="collapse navbar-collapse" id="js-navbar-collapse">

              <ul class="nav navbar-nav" ng-init="selectedTab = 'home'">
                <li ng-class="{'active':selectedTab === 'home'}" ng-click="selectedTab = 'home'"><a href="#!/">Home</a></li>
                <li ng-class="{'active':selectedTab === 'movies'}" ng-click="selectedTab = 'movies'"><a ng-href="#!/team-page">1018</a></li>
                <li ng-class="{'active':selectedTab === 'sponsors'}" ng-click="selectedTab = 'sponsors'"><a ng-href="#!/sponsors">Sponsors</a></li>
                <li ng-class="{'active':selectedTab === 'media'}" ng-click="selectedTab = 'media'"><a ng-href="#!/media">Media</a></li>
                <li ng-class="{'active':selectedTab === 'resources'}" ng-click="selectedTab = 'resources'"><a ng-href="#!/resources">Resources</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
      </div>

        <div class="pike-container">
          <div class="container-fluid">
            <div ng-view="#!/"></div>
          </div>
        </div>

    <div class="footer footer-color noSpace-top gray">
      <div class="container-fluid">
        <div><!-- <p><span class="glyphicon glyphicon-heart"></span>from da boys an gurls down at the robodevils</p> -->
          <div class="foot-box">
            <div class="image-box float-right">
              <a href="https://twitter.com/robodevil1018">
                <img src="twitter-logo.png" height="50px" width="50px">
              </a>
            </div>
            <div class="image-box float-right">
              <a href="https://www.instagram.com/robodevil1018/?hl=en">
                <img src="insta-icon.png" height="50px" width="50px">
              </a>
            </div>
            <div class="image-box float-right">
              <a href="https://www.facebook.com/RoboDevils1018/">
                <img src="fb-icon.png" height="50px" width="50px">
              </a>
            </div>
          </div>
          <div class="foot-words">
            <p><span class="glyphicon glyphicon-heart"></span>    from da boys an gurls down at the robodevils</p>
          </div>
        </div>
      </div>
    </div>
</div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'CMONEY');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/lodash/lodash.js"></script>
    <script src="bower_components/restangular/dist/restangular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="https://www.youtube.com/iframe_api"></script>
<script src="angular-youtube-embed.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <script src="scripts/controllers/movies.js"></script>
        <script src="scripts/controllers/movie-add.js"></script>
        <script src="scripts/controllers/movie-view.js"></script>
        <script src="scripts/controllers/movie-delete.js"></script>
        <script src="scripts/controllers/movie-edit.js"></script>
        <script src="scripts/controllers/peoplet.js"></script>
        <script src="scripts/controllers/image.js"></script>
        <script src="scripts/controllers/movie-person.js"></script>
        <script src="scripts/controllers/team-page.js"></script>
        <script src="scripts/controllers/sponsors.js"></script>
        <script src="scripts/controllers/people-view.js"></script>
        <script src="scripts/controllers/media.js"></script>
        <script src="scripts/controllers/resources.js"></script>
        <!-- endbuild -->

      <!-- ============slider scripts ========= -->
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-touch.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.10.3/TweenMax.min.js"></script>
</body>
</html>
