.body {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100vw;
	    background-color: #C61436;
        margin-top: 0px;
        padding-top: 0px;
        z-index: -2;
        /*===========test this min hite on other laptop====*/
        min-height: 93vh;
}

.frc-class {
  margin-top: -200px;
  width: 510px;
  height:230px;
}

.iframe {
  /*width="785" height="400"*/
  width: 785px;
  height: 400px;
  margin-left: 6px;
}

.footer-margin {
  width: 100vw;

  position: absolute;
  bottom: 0px;
  left: 0px;
}

/*===========links===========*/

a {
  color: #C61436;
}

.title-link {
  color: #000000;
  text-decoration: none !important;
}

.title-link a {
    color: #000000;
  text-decoration: none !important;
}

.title-link a:hover  {
  color: #C61436;
  text-decoration: none !important;

}

 a:hover .title-link {
  color: #C61436;
  text-decoration: none !important;

}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}


/*=============end of links=============*/


/*===============get images to fit in a contstrained box=========*/

.img-box-photo {
 height: 220px;
  width: 200px;
}

.img-photo {
  max-width: 200px;
  max-height: 220px;
  min-width: 0px;
  min-height: 0px;
}

.overlay {
  position: absolute;
  bottom: -4px;
  left: 0;
  right: 0;
  background-color: black;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.text {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.foo {
  position: relative;

  width: 85%;
}

.fondue {
  max-width: 200px;
  max-height: 200px;
}

 
.foo:hover img {
  cursor: pointer;
}

.foo:hover .overlay {
  height: 50px;
  opacity: .7;
  cursor: pointer;
}

/*===================end==================*/

.news-box {
  width: 860px;
  margin-left: -20px;

}

.season-nav {
  background: none !important;
    color: inherit;
    border: none;
    padding: 0! important;
    font: inherit;
    cursor: pointer;
    outline: inherit !important;
}

.a-atts {
      padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    padding-right: 15px;
    padding-left: 15px;
        position: relative;
    display: block;
    box-sizing: border-box;
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-style: initial;
    text-decoration-color: initial;
}

.title-bar {
    height: 25px;
    width: 97%;
    background-color: #C61436;
    padding-left: 40px;
    padding-right: 20px;
    margin-left: 0px;

}

.black-bar {
    height: 75px;
    width: 100%;
    background-color: black;

}

.scroll-icon {
    position: fixed;
    top: 310px;
    right: 10px;
    z-index: -1;
    overflow: hidden;
}

hr {
    border: none;
    height: 1px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}

.noPadLeft {
    margin-left: -20px;
}

.rightP {
    margin-right: 20px;
}

a {
    cursor: pointer;
}

.noDot {
    list-style-type: none;
}

/*=================TEXT================*/
.noDeck {
    text-decoration: none;
}

@font-face {
    font-family: "bank";
    src: url('fonts/bankgothic-regular.ttf') format('truetype');

}

.bank {

    font-family: "bank";
    font-size: 11px;
    font-style: italic;
    font-weight: 400;
    letter-spacing: 1.5px;
    color: black;


}

/*==============NAVBAR================*/


.navbar-radius {
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
}

.last-radius {
	border-bottom-right-radius: 6px !important;
	border-bottom-left-radius: 6px !important;
	border-top-right-radius: 0px !important;
	border-top-left-radius: 0px !important;
}

.no-radius {
	border-radius: 0px;
}

/*===========spacings=========*/

.moreSpace {
	margin-top: 20px;
  padding-top: 0px;
}

.superMoreSpace {
  margin-top: 60px;
  padding-top: 0px;
}

.moreSpace-bottom {
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.noSpace {
	margin-bottom: 0px;
}

.basic {
      color: #000000;
    font-family: "Roboto", Sans-serif;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 1.5;
    word-wrap: break-word;
    text-align: left;
}

/*============image overlay thing hover=======*/

/*.overlay-sm {
  position: relative;
  top: -47px;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: lightgray;
}*/

/*.image-box:hover a {
  opacity: .7;
}*/

a:hover img {
  opacity: .7;
}

.noSpace-top {
	margin-top: 0px;
  padding-top: 0px;
}

.float-right {
	float: right;
	margin: 0 10px 10px 0;
}

.float-left {
    float: left;
    margin: 0 10px 10px 0;
}

.image-box {
	background-color: none;
	height: 50px;
	width: 50px;
	margin-left: 5px;
	margin-top: 10px;
  opacity: 1;

}

.other-box {
    background-color: none;
    height: 70px;
    width: 400px;
    float: left;
    padding-right: 5px;
    padding-top: 17px;
    padding-left: 30px;
}

.middle-box {
    background-color: none;
    height: 20px;
    width: 300px;
    margin: 0 auto;
}

.foot-box {
	background-color: none;
	height: 70px;
	width: 200px;
	float: right;
	padding-right: 5px;
	padding-top: 0px;
}

.foot-words {
	background-color: none;
	height: 70px;
	width: 600px;
	float: left;
	padding-right: 5px;
	padding-top: 22px;
}

.noSpace-top {
	padding-top: 0px;
}

.margin-left {
	padding-left: 20px;
}

/*==================COLORS=================*/

.gray {
	background-color: #eeeeee;
}

.white {
	background-color: #FDFDFD;
}

/*==================MINE================*/

.pike-container {
	width: 960px;

    /*===

        This margin thing is awesome it centers the website for you

    */
	margin: 0 auto;
	padding-left: 15px;
  	padding-right: 15px;
    z-index: 1;
}

/*======================SLIDER===================*/

.slider {
    width: 900px;
    height: 300px;
    overflow: hidden;
    position: relative;
    background: #e6e6e6;
    /*border: 20px solid lightgray;*/
    margin-top: 0px;
    z-index: 2;
}

.blur {
	/*filter: blur(3px);*/
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
}

.arrow {
    position: absolute;
    z-index: 1002;
    display: block;
    top: 50%;
    margin-top: -35px;
    width: 70px;
    height: 100px;
    outline: none;
    cursor: pointer;
    background-color: none;
}

.arrow.prev {
    opacity: 0.2;
    left: 20px;
    background-image: url(../gray-left.png);
    background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
    transition: 0.2s linear all;
}

.arrow.next {
    opacity: 0.2;
    right: 20px;
    background-image: url(../grayright.png);
    background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
    transition: 0.2s linear all;
}

.arrow.prev:hover {
    opacity: 1;
    background-image: url(../left-arrow.png);
}

.arrow.next:hover {
    opacity: 1;
    background-image: url(../right-arrow.png);
}



/*---------------------------------------------------------
NAV
---------------------------------------------------------*/

.slide-nav {
	background-color: none;
    text-align: center;
    display: block;
    position: absolute;
    z-index: 1002;
    left: 0;
    bottom: -4px;
    right: 0;
    height: 48px;
}

.nonDraggableImage{
    -webkit-user-drag: none;
}

.slide-nav .slide-wrapper {
    margin: 0 auto;
    width: 100%;
    padding: 1em 0 .8em;
}

.slide-nav ul {
    margin: 0;
    width: 100%;
}

.slide-nav .dot, .slide-nav .dot a {
    display: inline-block;
    zoom: 1;
}

.dots .dot {
    position: relative;
    margin: 0 8px;
    width: 12px;
    height: 12px;
}

.dots .dot a {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 20px;
    height: 20px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background: red;
    border: 1px solid transparent;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: background-color 0.25s, border-color 0.25s;
    -moz-transition: background-color 0.25s, border-color 0.25s;
    transition: background-color 0.25s, border-color 0.25s;
}

.dots .dot a.active {
    border-color: #FFF;
    background-color: transparent;
}

/*============ADDING IMAGES with words==============*/

.left-image {
	padding-top: 30px;
	padding-left: 40px;
	padding-bottom: 30px;
	float: left;
}

.words-right {
	padding-right: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
	height: 150px;
	width: 500px;
	float: right;
}

.right-image {
	padding-top: 30px;
	padding-right: 40px;
	padding-bottom: 30px;
	float: right;
}

.words-left {
	padding-left: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
	height: 100%;
	width: 500px;
	float: left;
}

.i-info {
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  height: 100%;
  width: 94%;
  float: left;
}


/*==============deletable later==========*/

move-logo {
	position: relative;
	top: 200px;
}

/*=============profile=-stuff===========*/

.profileHolder {
    margin-bottom: 20px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border: 10px solid rgb(241, 54, 64);
    outline: none;
    transition: transform .3s;
}

.titleBox {
    background-color: black;
    height: 500px;
    width: 50%;
    float: left;
}

.pro-left {
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    float: left;
}

.pro-right {
    padding-top: 30px;
    padding-right: 40px;
    padding-bottom: 30px;
    width: 420px;
    float: right;
}


/*==============sponsor page=========*/

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.sponBox {
    margin-right: 50px;
    height: 150px;
    width: 180px;
    background-color: #DC143C;
    color: #FDFDFD;
    padding: 0;
    border: none;
    border-radius: 9px;
}

.sponBox:hover {
    background-color: rgb(241, 54, 64);
}

.w400 {
    width: 425px;
}

.imageBox {
    padding-top: 0px;
    padding-right: 50px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.specBox {
    float: left;
    width: 280px;
    padding-top: 30px;
}

/*============FONTS=======*/

.rotate {
  transition: all 0.5s ease-in-out;
}

.img {
  min-height: 0px;
  min-width: 0px;
  max-height: 240px;
  max-width: 240px;

}

.img-box {
  height: 240px;
  width: 240px;

}


/*============LIGHTBOX============*/

* {
  box-sizing: border-box;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}


/*==============updated stuff=========*/

.news-img-box {
   width: 250px; 
   height: 380px;
   position: relative;
   left: -22px;

}

.news-img {
  min-width: 0px;
  min-height: 0px;
  max-height: 330px;
  max-width: 250px;

}




















