  <div class="row marketing noSpace noSpace-top white margin-left">
    <p class="right-image">
      <img src="pikeLogo.jpg" width="250" height="150" alt="I'm Yeoman">
    </p>
    <div class="words-left">
      <!-- <h4><strong>Mission Statement</strong></h4>
      <p>
        3 guarantess
        - Death
        - Taxes
        - !018 will be world champs
      </p> -->

      <h4><strong>Pike High School</strong></h4>
      <p>
        Life is a journey… it is not the destination that counts so much as who you have along for the ride. We each have a story, stories of people who were, are and will be a part of our life’s journey. Schools are full of examples of the importance of relationships. Staff, students, parents, volunteers, and community members who make a difference. It’s the doors we open for our students that make a difference. In Pike Township, we make a difference in the lives of our scholars.     
      </p>
    </div>
  </div>

  <div class="row marketing noSpace noSpace-top gray margin-left">
    <p class="left-image">
      <img src="frc.png" width="180" height="150" alt="I'm Yeoman">
    </p>
    <div class="words-right">
      <!-- <h4><strong>Mission Statement</strong></h4>
      <p>
        3 guarantess
        - Death
        - Taxes
        - !018 will be world champs
      </p> -->

      <h4><strong>What is frc</strong></h4>
      <p>
        FIRST is an international organization which uses competitive robotics as a vehicle for promoting science & technology. FIRST allows high school students to work side by side with professional mentors to learn skills ranging from engineering to marketing, animation and business.
      </p>
    </div>
  </div>
