  <div class="container-fluid slider noSpace">
    <img ng-repeat="slide in slides" class="slide rotate nonDraggableImage blur"
         ng-hide="!isCurrentSlideIndex($index)" ng-src="{{slide.image}}">

        <!-- <a class="arrow prev" href="#!/" ng-click="callNext()"></a>
        <a class="arrow next" href="#!/" ng-click="nextSlide()"></a> -->

        <!-- image size is 900x300 -->
    <nav class="slide-nav">
      <div class="slide-wrapper">
        <ul class="dots">
          <li class="dot" ng-repeat="slide in slides" ui-jq="fadeIn">
              <a href="#!/" ng-class="{'active':isCurrentSlideIndex($index)}"
              ng-click="setCurrentSlideIndex($index);"></a>
          </li>
        </ul>
      </div>
    </nav>

  </div>

  <div class="jumbotron noSpace" style="border-radius: 0px;">
    <!--     <h>YOUR MOM!!!!!!!</h1>
    <p class="lead">
      <img src="images/b1.jpg" width="600" height="450" alt="I'm Yeoman"><br>
      Robodevils
    </p>
    <p><a class="btn btn-lg btn-success" ng-href="#!/movies">Splenttttttdid!<span class="glyphicon glyphicon-ok"></span></a></p> -->
    <p><strong>Team 1018</strong> is a high-school robotics team from Indianapolis Indiana. We bring STEM opportunitties to our studetns through competitive robotics</p>
  </div>

  <div class="black-bar">
      <div class="container-fluid">
        <div><!-- <p><span class="glyphicon glyphicon-heart"></span>from da boys an gurls down at the robodevils</p> -->
        <div class="other-box">
            <p class="bank" style="font-size: 32px; color: white;">Follow us here -></p>
        </div>

          <div class="foot-box">
            <div class="image-box float-right">
              <a href="https://twitter.com/robodevil1018">
                <img src="tbl.png" height="50px" width="50px">
              </a>
            </div>
            <div class="image-box float-right" style="padding-top: 7px; padding-left: 3px;">
              <a href="https://www.instagram.com/robodevil1018/?hl=en">
                <img src="instabl.png" height="40px" width="40px">
              </a>
            </div>
            <div class="image-box float-right">
              <a href="https://www.facebook.com/RoboDevils1018/">
                <img src="fblogo6.png" height="50px" width="50px">
              </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row marketing noSpace noSpace-top white margin-left">
    <p class="right-image">
      <img src="pikeLogo.jpg" width="250" height="150" alt="I'm Yeoman">
    </p>
    <div class="words-left">
      <!-- <h4><strong>Mission Statement</strong></h4>
      <p>
        3 guarantess
        - Death
        - Taxes
        - !018 will be world champs
      </p> -->

      <h4><strong>Pike High School</strong></h4>
      <p>
        Life is a journey… it is not the destination that counts so much as who you have along for the ride. We each have a story, stories of people who were, are and will be a part of our life’s journey. Schools are full of examples of the importance of relationships. Staff, students, parents, volunteers, and community members who make a difference. It’s the doors we open for our students that make a difference. In Pike Township, we make a difference in the lives of our scholars.     
      </p>
    </div>
  </div>

  <div class="row marketing noSpace noSpace-top gray margin-left">
    <p class="left-image">
      <img src="frc.png" width="180" height="150" alt="I'm Yeoman">
    </p>
    <div class="words-right">
      <!-- <h4><strong>Mission Statement</strong></h4>
      <p>
        3 guarantess
        - Death
        - Taxes
        - !018 will be world champs
      </p> -->

      <h4><strong>What is frc</strong></h4>
      <p>
        FIRST is an international organization which uses competitive robotics as a vehicle for promoting science & technology. FIRST allows high school students to work side by side with professional mentors to learn skills ranging from engineering to marketing, animation and business.
      </p>
    </div>
  </div>

  <div class="row marketing noSpace-top white margin-left last-radius">
    <p class="right-image">
      <img src="stem.png" width="180" height="150" alt="I'm Yeoman">
    </p>
    <div class="words-left">
      <!-- <h4><strong>Mission Statement</strong></h4>
      <p>
        3 guarantess
        - Death
        - Taxes
        - !018 will be world champs
      </p> -->

      <h4><strong>What is STEM</strong></h4>
      <p>
        STEM is a curriculum based on the idea of educating students in four specific disciplines — science, technology, engineering and mathematics — in an interdisciplinary and applied approach. Rather than teach the four disciplines as separate and discrete subjects, STEM integrates them into a cohesive learning paradigm based on real-world applications.      
      </p>
    </div>
  </div>
