<form role="form">
	
	<div class="form-group">
		<label for="title" class="control-label">
			Title
		</label>
		<input type="text" ng-model="movie.title" class="form-control" id="title" placeholder="Enter movie title">
	</div>
	
	<div class="form-group">
		<label for="url" class="control-label">
			URL
		</label>
		<input type="text" ng-model="movie.url" class="form-control" id="url" placeholder="Enter a URL for the movie">
	</div>

	<div class="form-group">
		<label for="team" class="control-label">
			URL
		</label>
		<input type="text" ng-model="movie.team" class="form-control" id="team" placeholder="Enter a team for the movie">
	</div>team

	<div class="form-group">
		<label for="why" class="control-label">
			URL
		</label>
		<input type="text" ng-model="movie.why" class="form-control" id="why" placeholder="Enter a why for the movie">
	</div>
	<input type="submit" class="btn btn-primary" ng-click="saveMovie()" value="save">
</form>
