<div class="row marketing noSpace-top white margin-left last-radius">

	 <div class="title-bar moreSpace">
      <div class="container-fluid noSpace-top">
        <div class="middle-box">
          <p class="bank" style="font-size: 19px; color: white; margin-left: 40px;">Contact Us</p>
        </div>
      </div>
    </div>

<div class="pro-left noSpace-top">
	<h2>
			Contact Us Anytime
		</h2>
		<div class="imageBox" style="float: right; margin-left: 600px;">
			<img src="images/team-photos/ss.jpg" width="200px" height="300px">
		</div>	
		<div style="position: relative;top: -280px;">	
		<p class="">
			For support or any other questions email <a href=""></a>
		</p>
		<p class="">
			<b>1018 Robodevils</b> 5401 W 71st St, Indianapolis, IN 46268
		</p>
		</div>

</div>
</div>