<div class="row marketing noSpace-top white margin-left last-radius">

	 <div class="title-bar moreSpace">
      <div class="container-fluid noSpace-top">
        <div class="middle-box">
          <p class="bank" style="font-size: 19px; color: white; margin-left: 40px;">redDevil Docs</p>
        </div>
      </div>
    </div>

<div class="pro-left noSpace-top">
	<h3 class="left">
		1018 Resources
	</h3>
		<ul class="title-link">
    <li><a href="recs/manual.pdf" target="_blank">1018 Student Manual</a></li>
    <li><a href="recs/sponsor.pdf" target="_blank">Become a Sponsor</a></li>
		</ul>
<!-- 	<h3 class="left">
		Communications and Web
	</h3>
		<ul>
			<li><a href="#nowhere" title="Lorum ipsum dolor sit amet">Lorem</a></li>
    <li><a href="#nowhere" title="Aliquam tincidunt mauris eu risus">Aliquam</a></li>
    <li><a href="#nowhere" title="Morbi in sem quis dui placerat ornare">Morbi</a></li>
		</ul>
		<h3 class="left">
		Business
	</h3>
		<ul>
			<li><a href="#nowhere" title="Lorum ipsum dolor sit amet">Lorem</a></li>
    <li><a href="#nowhere" title="Aliquam tincidunt mauris eu risus">Aliquam</a></li>
    <li><a href="#nowhere" title="Morbi in sem quis dui placerat ornare">Morbi</a></li>
    <li><a href="#nowhere" title="Praesent dapibus, neque id cursus faucibus">Praesent</a></li>
		</ul>
	<h3 class="left">
		Software
	</h3>
		<ul>
			<li><a href="https://github.com/PikeRoboDevils/steamWorksScouting">https://github.com/PikeRoboDevils/steamWorksScouting</a></li>
			<li><a href="#nowhere" title="Lorum ipsum dolor sit amet">Lorem</a></li>
    <li><a href="#nowhere" title="Aliquam tincidunt mauris eu risus">Aliquam</a></li>
    <li><a href="#nowhere" title="Morbi in sem quis dui placerat ornare">Morbi</a></li>
		</ul> -->
</div>

<div class="pro-right">
<!-- 	<h3 class="left">
		Digital Communication & Web
	</h3>
		<ul>
			<li><a href="#nowhere" title="Lorum ipsum dolor sit amet">Lorem</a></li>
    <li><a href="#nowhere" title="Aliquam tincidunt mauris eu risus">Aliquam</a></li>
    <li><a href="#nowhere" title="Morbi in sem quis dui placerat ornare">Morbi</a></li>
    <li><a href="#nowhere" title="Praesent dapibus, neque id cursus faucibus">Praesent</a></li>
    <li><a href="#nowhere" title="Pellentesque fermentum dolor">Pellentesque</a></li>
		</ul>
	<h3 class="left">
		General Resources
	</h3>
		<ul>
			<li><a href="#nowhere" title="Lorum ipsum dolor sit amet">Lorem</a></li>
    <li><a href="#nowhere" title="Aliquam tincidunt mauris eu risus">Aliquam</a></li>
    <li><a href="#nowhere" title="Morbi in sem quis dui placerat ornare">Morbi</a></li>
    <li><a href="#nowhere" title="Praesent dapibus, neque id cursus faucibus">Praesent</a></li>
    <li><a href="#nowhere" title="Pellentesque fermentum dolor">Pellentesque</a></li>
    <li><a href="#nowhere" title="Lorum ipsum dolor sit amet">Lorem</a></li>
    <li><a href="#nowhere" title="Aliquam tincidunt mauris eu risus">Aliquam</a></li>
    <li><a href="#nowhere" title="Morbi in sem quis dui placerat ornare">Morbi</a></li>
    <li><a href="#nowhere" title="Praesent dapibus, neque id cursus faucibus">Praesent</a></li>
    <li><a href="#nowhere" title="Pellentesque fermentum dolor">Pellentesque</a></li>
		</ul>
	<h3 class="left">
		Competition
	</h3>
		<ul>
			<li><a href="#nowhere" title="Lorum ipsum dolor sit amet">Lorem</a></li>
    <li><a href="#nowhere" title="Aliquam tincidunt mauris eu risus">Aliquam</a></li>
    <li><a href="#nowhere" title="Morbi in sem quis dui placerat ornare">Morbi</a></li>
		</ul> -->
</div>
</div>
