<!-- <div class="jumbotron white" style="
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
">
	<h2 class="left noSpace-top">
		2017 Robot
	</h2>
	<hr>

	<div class="left noSpace-top" style="width: 400px;">
		<h2>
			General Knowledge
		</h2>
		<p>
			Lorem Ipsum er ganske enkelt fyldtekst fra print- og typografiindustrien. Lorem Ipsum har været standard fyldtekst siden 1500-tallet, hvor en ukendt trykker sammensatte en tilfældig spalte for at trykke en bog til sammenligning af forskellige skrifttyper. Lorem Ipsum har ikke alene overlevet fem århundreder, men har også vundet indpas i elektronisk typografi uden væsentlige ændringer. Sætningen blev gjordt kendt i 1960'erne med lanceringen af Letraset-ark, som indeholdt afsnit med Lorem Ipsum, og senere med layoutprogrammer som Aldus PageMaker, som også indeholdt en udgave af Lorem Ipsum.
		</p>
	</div>
	<div class="right">
		<img src="images/spaceship.png" width="200px" height="200px">
	</div>
</div> -->

<div class="row marketing noSpace-top white margin-left last-radius">

	<h2 class="left">
		2017 Robot
	</h2>
	<hr class="noSpace rightP">

<div class="pro-left noSpace-top">
	<h2>
			General Knowledge
		</h2>
		<div class="imageBox" style="float: right;">
			<img src="images/spaceship.png" width="200px" height="200px">
		</div>		
		<p class="">
			Lorem Ipsum er ganske enkelt fyldtekst fra print- og typografiindustrien. Lorem Ipsum har været standard fyldtekst siden 1500-tallet, hvor en ukendt trykker sammensatte en tilfældig spalte for at trykke en bog til sammenligning af forskellige skrifttyper. Lorem Ipsum har ikke alene overlevet fem århundreder, men har også vundet indpas i elektronisk typografi uden væsentlige ændringer. Sætningen blev gjordt kendt i 1960'erne med lanceringen af Letraset-ark, som indeholdt afsnit med Lorem Ipsum, og senere med layoutprogrammer som Aldus PageMaker, som også indeholdt en udgave af Lorem Ipsum.
		</p>
	<h2>
			Features
		</h2>
		<ul class="">
			<li>yyyyaaaaay</li>
			 <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
   			<li>Aliquam tincidunt mauris eu risus.</li>
   			<li>Vestibulum auctor dapibus neque.</li>
		</ul>

		<h2 class="left">
				Specs
			</h2>
		<hr class="noSpace rightP">
	<div class="row">
		<ul class="noDot">
			<li class="specBox">
				<h2>Mechanical</h2>
					<ul class="noPadLeft">
						<li>Aliquam tincidunt mauris eu risus.</li>
   						<li>Vestibulum auctor dapibus neque.</li>
						<li>Aliquam tincidunt mauris eu risus.</li>
   						<li>Vestibulum auctor dapibus neque.</li>
						<li>Aliquam tincidunt mauris eu risus.</li>
   						<li>Vestibulum auctor dapibus neque.</li>
					</ul>
			</li>
			<li class="specBox">
				<h2>General</h2>
					<ul class="noPadLeft">						
						<li>Aliquam tincidunt mauris eu risus.</li>
   						<li>Vestibulum auctor dapibus neque.</li>
						<li>Aliquam tincidunt mauris eu risus.</li>
   						<li>Vestibulum auctor dapibus neque.</li>
						<li>Aliquam tincidunt mauris eu risus.</li>
   						<li>Vestibulum auctor dapibus neque.</li>
					</ul>
			</li>			
			<li class="specBox">
				<h2>Electrical</h2>
					<ul class="noPadLeft">
						<li>Aliquam tincidunt mauris eu risus.</li>
   						<li>Vestibulum auctor dapibus neque.</li>
						<li>Aliquam tincidunt mauris eu risus.</li>
   						<li>Vestibulum auctor dapibus neque.</li>
						<li>Aliquam tincidunt mauris eu risus.</li>
   						<li>Vestibulum auctor dapibus neque.</li>
					</ul>
			</li>
		</ul>
	</div>
</div>
</div>


