<div class="jumbotron white noSpace" style="
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
">
	<h2 class="left noSpace-top bank" style="font-size: 22px;">
		Sponsors
	</h2>


<!-- ==============================title================== -->
  <div class="title-bar moreSpace-bottom moreSpace">
      <div class="middle-box">
        <p class="bank" style="font-size: 19px; color: white;">Title</p>
      </div>
  </div>
	<div class="row">
		<ul class="col-sm-3 col-md-6 col-lg-4 noDot" ng-repeat="title in titles">
			<li class="img-box">
				<img src="images/sponsors/{{ title.image }}" class="img" />
			</li>
		</ul>
	</div>



<!-- ===========================platinum=================== -->
  <div class="title-bar moreSpace-bottom moreSpace">
      <div class="middle-box">
        <p class="bank" style="font-size: 19px; color: white;">Platinum</p>
      </div>
  </div>
	<div class="row">
		<ul class="col-sm-3 col-md-6 col-lg-4 noDot" ng-repeat="platinum in platinums">
			<li class="img-box">
				<img src="images/sponsors/{{ platinum.image }}" class="img" />
			</li>
		</ul>
	</div>





<!-- ===========================gold=================== -->
  <div class="title-bar moreSpace-bottom moreSpace">
      <div class="middle-box">
        <p class="bank" style="font-size: 19px; color: white;">Gold</p>
      </div>
  </div>
	<div class="row">
		<ul class="col-sm-3 col-md-6 col-lg-4 noDot" ng-repeat="gold in golds">
			<li class="img-box">
				<img src="images/sponsors/{{ gold.image }}" class="img" />
			</li>
		</ul>
	</div>





<!-- ===========================silver=================== -->
  <div class="title-bar moreSpace-bottom moreSpace">
      <div class="middle-box">
        <p class="bank" style="font-size: 19px; color: white;">Gold</p>
      </div>
  </div>
	<div class="row">
		<ul class="col-sm-3 col-md-6 col-lg-4 noDot" ng-repeat="silver in silvers">
			<li class="img-box">
				<img src="images/sponsors/{{ silver.image }}" class="img" />
			</li>
		</ul>
	</div>








  <div class="row marketing noSpace-top gray margin-left last-radius  news-box">
    <p class="right-image">
      <button class="sponBox"><h2>Sponsor <br> Us</h2></button>
    </p>
    <div class="words-left">
      <!-- <h4><strong>Mission Statement</strong></h4>
      <p>
        3 guarantess
        - Death
        - Taxes
        - !018 will be world champs
      </p> -->

      <h4><strong>Wanna be a Sponsor?</strong></h4>
      <p>
        Team 868 owes all of its success and sustainability to its generous sponsors. The sponsors recognize that they are making a positive investment in the future and are donating to a team that is part of an outstanding organization. 
We thank all of our sponsors for their engi  
      </p>
    </div>
  </div>
