<!-- <div>

<div class="jumbotron white" style="border-radius: 0px;">
	<ul class="nav nav-tabs" ng-init="selectedTab = 'home'">
	  <li role="presentation" ng-class="{'active':selectedTab === 'home'}" ng-click="selectedTab = 'home'"><a href="#!/peopleT">Home</a></li>
	  <li role="presentation" ng-class="{'active':selectedTab === 'movies'}" ng-click="selectedTab = 'movies'"><a href="#!/movies">Movies</a></li>
	  <li role="presentation" ng-class="{'active':selectedTab === 'students'}" ng-click="selectedTab = 'students'"><a href="#">students</a></li>
	  <li role="presentation" class="dropdown">
	    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
	      Dropdown <span class="caret"></span>
	    </a>
	    <ul class="dropdown-menu">
	      ...
	    </ul>
	  </li>
	  ...
	</ul>
</div>

<!-- 	 <div class="pike-container">
	    <div class="container-fluid">
	        <div ng-view="#!/team-page"></div>
	    </div>
	</div> -->

<div class="jumbotron white" style="border-radius: 0px;">
	<div class="tabbable tabs-left">
		<ul class="nav nav-tabs" ng-init="selectedTab = 'home'">
			<li role="presentation" ng-class="{'active': selectedTab == 'home'}">
				<a ng-click="selectedTab = 'home'">Home</a>
			</li>
<!-- 		  	<li role="presentation" ng-class="{'active': selectedTab == 'Mentors'}">
				<a ng-click="selectedTab = 'Mentors'">Mentors</a>
			</li> -->
<!-- 			<li role="presentation" ng-class="{'active': selectedTab == 'students'}">
				<a ng-click="selectedTab = 'students'">Students</a>
			</li> -->
<!-- 			<li role="presentation" ng-class="{'active': selectedTab == 'news'}">
				<a ng-click="selectedTab = 'news'">News</a>
			</li>
			<li role="presentation" ng-class="{'active': selectedTab == 'alum'}">
				<a ng-click="selectedTab = 'alum'">Alumni</a>
			</li>	 -->	
			<li role="presentation" ng-class="{'active': selectedTab == 'events'}">
				<a ng-click="selectedTab = 'events'">Events</a>
			</li>		
			<li role="presentation" ng-class="{'active': selectedTab == 'first'}">
				<a ng-click="selectedTab = 'first'">FIRST</a>
			</li>	
		</ul>

		<div class="tab-content">
			<div ng-switch="selectedTab">
				<div ng-switch-when="home">

						<!-- take not that i had to essentially define the movies controller inside the team-page controller -->
						<div ng-include src="'views/team-page/home.html'"></div>
					</div>
				<div ng-switch-when="Mentors">

						<!-- take not that i had to essentially define the movies controller inside the team-page controller -->
						<div ng-include="'views/team-page/movies.html'"></div>
					</div>
				<div ng-switch-when="students">

						<!-- take not that i had to essentially define the movies controller inside the team-page controller -->
						<div ng-include="'views/team-page/peopleT.html'"></div>
					</div>
				<div ng-switch-when="news">

						<!-- take not that i had to essentially define the movies controller inside the team-page controller -->
						<div ng-include="'views/team-page/news.html'"></div>
					</div>
				<div ng-switch-when="alum">

						<!-- take not that i had to essentially define the movies controller inside the team-page controller -->
						<div ng-include="'views/team-page/alum.html'"></div>
					</div>
				<div ng-switch-when="events">

						<!-- take not that i had to essentially define the movies controller inside the team-page controller -->
						<div ng-include="'views/team-page/events.html'"></div>
					</div>
				<div ng-switch-when="first">

						<!-- take not that i had to essentially define the movies controller inside the team-page controller -->
						<div ng-include="'views/team-page/first.html'"></div>
					</div>
			</div>
		</div>
	</div>
</div>





