  <div class="container-fluid slider noSpace">
    <img ng-repeat="image in images" class="slide rotate nonDraggableImage blur"
         ng-hide="!isCurrentSlideIndex($index)" ng-src="{{image.title}}">

        <!-- <a class="arrow prev" href="#!/" ng-click="callNext()"></a>
        <a class="arrow next" href="#!/" ng-click="nextSlide()"></a> -->

        <!-- image size is 900x300 -->
    <nav class="slide-nav">
      <div class="slide-wrapper">
        <ul class="dots">
          <li class="dot" ng-repeat="image in images" ui-jq="fadeIn">
              <a href="#!/" ng-class="{'active':isCurrentSlideIndex($index)}"
              ng-click="setCurrentSlideIndex($index);"></a>
          </li>
        </ul>
      </div>
    </nav>

    <button ng-click="callNext()">hello</button>

  </div>